#navbar_terapia {
  box-shadow: 4px 4px 4px rgba(70, 69, 69, 0.4);
}

#navbar_terapia a:hover {
  color: #aa2edb;
}
#navbar_terapia .nav-item {
  margin: auto 4px;
  text-decoration-color: #aa2edb;
}
#navbar_terapia a {
  padding-left: 12px;
  padding-right: 2px;
}
#nuevo {
  border: navy;
}

#navbar_terapia {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #aa2edb;

  margin-top: 10px;
}

h2 {
  color: #7a2f96;
}

.img__servicios {
  max-width: 100%;
}

.card {
  height: 100%;
  justify-content: space-around;
}

.card-img-top {
  max-width: 100%;
}

.btn-primary {
  background-color: #7a2f96;
  border-color: #7a2f96;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s,
    border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.btn-primaryn :hover {
  background-color: #aa2edb;
}
