#navbar_terapia {
  box-shadow: 4px 4px 4px rgba(70, 69, 69, 0.4);
}

#navbar_terapia a:hover {
  color: #aa2edb;
}
#navbar_terapia .nav-item {
  margin: auto 4px;
  text-decoration-color: #aa2edb;
}
#navbar_terapia a {
  padding-left: 12px;
  padding-right: 2px;
}
#nuevo {
  border: navy;
}

#navbar_terapia {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #aa2edb;

  margin-top: 5rem;
}

h2 {
  color: #7a2f96;
}

.img-fluid {
  width: 100%;

  object-fit: cover;
}

.img__servicios {
  max-width: 100%;
}

.card {
  height: 100%;
  justify-content: space-around;
}

.card-img-top {
  max-width: 100%;
  object-fit: cover;
}

.btn-primary {
  background-color: #7a2f96;
  border-color: #7a2f96;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s,
    border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.btn {
  background-color: transparent;
  border-color: #7a2f96;
}

.btn a:hover {
  color: #aa2edb;
}

#button--enviar {
  background-color: transparent;
  border-color: #7a2f96;
  color: #7a2f96;
}

#button--enviar :hover {
  border-color: #7a2f96;
  color: #7a2f96;
}

footer {
  box-sizing: border-box;
  background-color: #ac98fd;
  color: white;
  margin-top: 5rem;
}

.btn-primaryn :hover {
  background-color: #aa2edb;
}

.fab {
  color: white;
}

.accordion {
  border-color: rgb(2, 2, 48);
}

.accordion-header {
  border: #aa2edb;
  border-color: #aa2edb;
}

.accordion-button:not(.collapsed) {
  color: rgb(2, 2, 48);
  background-color: #d6cdda;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}

#cardBlog {
  margin-bottom: 2rem;
}

.Img-bienvenida {
  margin-top: 5rem;
}

#inicioProfesionales {
  margin-top: 2rem;
}
