/*Index */

#inicioProfesionales {
  margin-top: 2rem;
}

.Img-bienvenida {
  margin-top: 5rem;
}

/*Nuestros Servicios */

.card__servicios {
  height: 100%;
  width: 100%;
}

.img__servicios {
  max-width: 100%;
}

/*Blog*/

#cardBlog {
  margin-bottom: 2rem;
}

@mixin imagenProfesionales($width, $height) {
  width: $width;
  height: $height;
}

#ImgProfesionales {
  @include imagenProfesionales(200px, 200px);
  margin-left: 75px;
}
