#navbar_terapia {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 4px 4px rgba(70, 69, 69, 0.4);

  .nav-item {
    margin: auto 4px;
    text-decoration-color: $primary-color;

    a {
      padding-left: 12px;
      padding-right: 2px;

      &:hover {
        color: $primary-color;
      }
    }
  }
}
