/*Formulario de Contacto */
.FormularioContacto {
  margin-top: 2rem;
}

/*Preguntasy Respuestas */
.accordion {
  border-color: rgb(2, 2, 48);

  header {
    border: $secondary-color;
    border-color: $secondary-color;
  }
}

.accordion-button:not(.collapsed) {
  color: $primary-color;
  background-color: #d6cdda;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}
